.hero {
  background: url('../images/hero-image.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh; }
   .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 40%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero h3 {
    color: #fff;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  @media only screen and (min-width: 40.063em) {
    .hero h1 {
      padding-top: 4.5rem;
      font-size: 2.5rem; } }
.challenge {
  background: url('../images/pottery.jpg') no-repeat center center;
  background-size: cover;
  height: 90vh; }
  .challenge .intro {
    position: relative;
    top: 30%;
    transform: translateY(-50%); }
  .challenge h2 {
    color: #fff; }
  .challenge h5 {
    color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .challenge h1 {
      padding-top: 4.5rem;
      font-size: 2.5rem; } }